.prop{
    color:blue;font-style: italic;font-size: large;
}
#para{
    color: green;
}
#para1{
    text-decoration: overline underline;
    text-decoration-color:red ;

}
#tt{
    text-transform: uppercase;
}
.ts{text-indent: 50px;letter-spacing: 5px;word-spacing: 10px;
    
}
.whiteS{
    white-space:pre-line
}